# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Java specific files
*.class

# Build directories
target/
build/
out/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs and databases
*.log
*.sql
*.sqlite

# OS specific files
.DS_Store
Thumbs.db

*.md